body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 20px;
    padding: 20px;
}

.sidebar {
    background-color: #f1f1f1;
    padding: 10px;
    height: 100%;
}

.content {
    padding: 10px;
}

.upload-form {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
}

